@use 'styles/variables' as *;

:host {
  display: block;
  padding: 5px 0;
}

.guide {
  &__list {
    max-height: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    padding: 5px;
    font-size: 14px;

    a {
      color: $primary;
    }
  }

  &__icon {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 10px;
    color: $gray;

    &.active {
      color: $success;
    }
  }
}
