<webui-navigation [user]="user"></webui-navigation>

<div class="site-page pt-5">
  <div class="form-page">
    <div class="form-content px-4 content mx-auto">
      <p>{{ 'consent_message' | translate }}</p>

      <div class="flex justify-end mt-4">
        <button type="button" class="btn btn-primary mr-4" (click)="onAgree()">
          {{ 'button_yes' | translate }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="notAgree()">
          {{ 'button_no' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
